
/* Seccion de navegacion y titulo de pagina */

img	{
	width: 200px;
	padding-top: 5px;
}

.header {
	color: $color-roscuro1;
	background-color: $color-crema;
	width: 100%;
	top: 0;
	left: 0;
}


.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	display:block;
	background-color: $color-crema;
	z-index: 99999;
	padding-bottom: 5px;
}

.sticky + .main {
	padding-top: 102px;
  }

#titpag {
	text-align: center;
}

#logo {
	width: 200px;
}

.titulo {
	display: flex;
	flex-direction: row;
}

.texto {
	width: 100%;
	height: 160px;
	margin-top: 40px;
}

#navbar {
	overflow: hidden;
  	background-color: $color-crema;
	z-index: 99999;
	width: 100%;
	top: 0;
	left: 0;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0px;
	div {
		list-style: none;
		a {
			float: center;
  			display: block;
  			text-align: center;
			padding-top: 20px;
  			text-decoration: none;
  			font-size: 17px;
			padding-left: 5px;
		}
	}
}


